:root {
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: var(--font-sans-serif);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rudiment {
  border: 1px solid grey;
  margin: 0.5em;
}

.rudiment-title {
  padding: 0.5em;
  border-bottom: 1px solid grey;
}

.rudiment-notation {
  padding: 2em;
}

.rudiment-number {
  font-weight: bold;
  float: left;
}
