:root {
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  /* https://colorhunt.co/palette/eeedebe0ccbe7472643c3633 */
  --color-white: #eeedeb;
  --color-salmon: #e0ccbe;
  --color-green: #747264;
  --color-black: #3c3633;

  --theme-background: var(--color-white);
  --theme-foreground: var(--color-black);
  --theme-action: var(--color-green);
  --theme-highlight: var(--color-salmon);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --theme-background: var(--color-black);
    --theme-foreground: var(--color-white);
  }
} */

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
}

body {
  font-family: var(--font-serif);
  background-color: var(--theme-background);
  color: var(--theme-foreground);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  text-align: center;
  padding: 1em;
}

main > * {
  width: 100%;
  max-width: 900px;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

h1 > .wiki {
  color: var(--theme-action);
}

nav > ul {
  padding: 1rem;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(180px, max-content));
  justify-content: center;
  gap: 1rem;
  text-align: left;
}

nav > ul > li > a:link,
nav > ul > li > a:hover,
nav > ul > li > a:visited,
nav > ul > li > a:active {
  color: var(--theme-action);
  text-decoration: underline;
}

.r,
.about {
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.r {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.r-title {
  padding: 1rem;
}

.r-title > h2,
.about-title > h2 {
  font-size: 1.3rem;
}

.r-notation {
  padding: 2rem;
  color: var(--theme-foreground);
  width: 100%;
}

.r-notation > svg {
  width: 100% !important;
  height: auto !important;
}

.r-number {
  font-weight: bold;
  float: left;
}

.r-links {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.r-links > a:link,
.r-links > a:hover,
.r-links > a:visited,
.r-links > a:active,
.about a:link,
.about a:hover,
.about a:visited,
.about a:active {
  color: var(--theme-action);
  text-decoration: underline;
}

.about {
  padding: 2rem;
  text-align: left;
}

.about > p {
  margin-bottom: 1rem;
}
.about > p:last-child {
  margin-bottom: 0;
}

hr {
  border-bottom: 1px var(--theme-foreground) dashed;
  margin: 1rem;
  max-width: 400px;
}

footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: var(--theme-highlight);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.1rem;
  display: flex;
  align-items: stretch;
  font-family: var(--font-sans-serif);
}

.metronome_name {
  display: block;
  padding: 0.5rem 1rem;
  background: var(--theme-foreground);
  color: var(--theme-background);
}

.metronome_bpm_wrapper {
  display: block;
  padding: 0.5rem 1rem;
}

.metronome_bpm_wrapper > #metronome_bpm {
  padding: 0.25em 0.5rem;
  margin: -0.25em 0 -0.25em 0.5rem;
  font-size: inherit;
  font-family: inherit;
  width: 5rem;
  background-color: var(--theme-background);
  color: var(--theme-foreground);
}

#metronome_playstop {
  padding: 0.25em 0.5rem;
  margin: 0.25em 0;
  background: var(--theme-foreground);
  color: var(--theme-background);
  font-size: inherit;
  font-family: inherit;
  min-width: 5rem;
  cursor: pointer;
}

#metronome_playstop:hover {
  background: var(--theme-action);
}
